In [1]:
import pandas as pd
import io
from pyarrow import parquet as pq

In [2]:
df1 = pd.read_parquet("F:/feature_store/my_project/feature_repo/data/driver_stats.parquet")

In [4]:
df1.groupby('driver_id').apply(lambda x: x.sort_values(by='event_timestamp', ascending=False).iloc[-1])

C:\Users\dell\AppData\Local\Temp\ipykernel_15864\2987667072.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df1.groupby('driver_id').apply(lambda x: x.sort_values(by='event_timestamp', ascending=False).iloc[-1])

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,created
driver_id,,,,,,
1001,2021-04-12 07:00:00+00:00,1001,0.031889,0.659691,472,2025-04-23 16:49:56.519
1002,2021-04-12 07:00:00+00:00,1002,0.482723,0.240803,454,2025-04-23 16:49:56.519
1003,2021-04-12 07:00:00+00:00,1003,0.128065,0.099712,572,2025-04-23 16:49:56.519
1004,2021-04-12 07:00:00+00:00,1004,0.898697,0.932314,578,2025-04-23 16:49:56.519
1005,2021-04-12 07:00:00+00:00,1005,0.439671,0.493020,684,2025-04-23 16:49:56.519