In [1]:
import pandas as pd

In [5]:
table = pd.read_parquet('F:/feature_store/my_project/feature_repo/data/driver_stats.parquet')

In [6]:
table

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,created
0,2025-04-08 16:00:00+00:00,1005,0.963286,0.346438,169,2025-04-23 16:49:56.519
1,2025-04-08 17:00:00+00:00,1005,0.784096,0.826455,299,2025-04-23 16:49:56.519
2,2025-04-08 18:00:00+00:00,1005,0.864776,0.694390,922,2025-04-23 16:49:56.519
3,2025-04-08 19:00:00+00:00,1005,0.032158,0.126072,904,2025-04-23 16:49:56.519
4,2025-04-08 20:00:00+00:00,1005,0.416596,0.481476,215,2025-04-23 16:49:56.519
...,...,...,...,...,...,...
1802,2025-04-23 14:00:00+00:00,1001,0.404808,0.891893,263,2025-04-23 16:49:56.519
1803,2025-04-23 15:00:00+00:00,1001,0.550128,0.608453,427,2025-04-23 16:49:56.519
1804,2021-04-12 07:00:00+00:00,1001,0.031889,0.659691,472,2025-04-23 16:49:56.519
1805,2025-04-16 04:00:00+00:00,1003,0.044004,0.369231,809,2025-04-23 16:49:56.519
1806,2025-04-16 04:00:00+00:00,1003,0.044004,0.369231,809,2025-04-23 16:49:56.519

In [7]:
table.dtypes

event_timestamp    datetime64[ns, UTC]
driver_id                        int64
conv_rate                      float32
acc_rate                       float32
avg_daily_trips                  int32
created                 datetime64[us]
dtype: object